# lein
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

# intellij
/.idea
*.iml

# generated documentation
/doc/index.html

# dev config
/config.edn

# generated
/resources/generated.json
/test-resources/*.json
